<% include partials/header %>

<body>
	<div class="wrapper">
		<% include partials/sidebar %>
		
		<!-- Page Content -->
		<div id="content">
			
			<% include partials/navbar %>

			<!-- Breadcrumb -->
			<!-- Page Title -->
			<div class="row no-margin-padding">
				<div class="col-md-6">
					<h3 class="block-title">Quick Statistics</h3>
				</div>
				<div class="col-md-6">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index.html">
								<span class="ti-home"></span>
							</a>
						</li>
						<li class="breadcrumb-item active">Dashboard</li>
					</ol>
				</div>
			</div>
			<!-- /Page Title -->

			<!-- /Breadcrumb -->
			<!-- Main Content -->
			<div class="container-fluid home">

				<% include partials/stats %>

				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">Appointments</h3>
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Patient Name</th>
											<th>Doctor</th>
											<th>Check-Up</th>
											<th>Date</th>
											<th>Time</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<% for(let i = 0; i<appointments.length; i++) {%>
										<tr>
											<td><%=patientName[i] %></td>
											<td><%=appointments[i].doctorId %></td>
											<td><%=appointments[i].problem %></td>
											<td><%=appointments[i].date %></td>
											<td><%=appointments[i].time %></td>
											<td>
												<%- appointments[i].status === "cancelled" ? `<span class="badge badge-danger">Cancelled</span>` : appointments[i].status === "completed" ? `<span class="badge badge-success">Completed</span>`: `<span class="badge badge-warning">pending</span>` %>
											</td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /Widget Item -->
				</div>

					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 progress-status proclinic-box-shadow">
							<h3 class="widget-title">Doctors Availability</h3>
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Doctor</th>
											<th>Speciality</th>
											<th>Availability</th>
										</tr>
									</thead>
									<tbody>
										<% for(let i = 0; i<doctors.length; i++) {%>
										<tr>
											<td><%=doctors[i].name %></td>
											<td><%=doctors[i].specialization %></td>
											<td>
												<span class="badge badge-success">Available</span>
											</td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>

						</div>
					</div>
					<!-- /Widget Item -->

				</div>

			</div>
			<!-- /Main Content -->
		</div>
		<!-- /Page Content -->
	</div>
	<!-- Back to Top -->
	<a id="back-to-top" href="#" class="back-to-top">
		<span class="ti-angle-up"></span>
	</a>
	<!-- /Back to Top -->
	
	<!-- Jquery Library-->
	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<!-- Popper Library-->
	<script src="/javascripts/popper.min.js"></script>
	<!-- Bootstrap Library-->
	<script src="/javascripts/bootstrap.min.js"></script>
	<!-- morris charts -->
	<script src="/assets/charts/js/raphael-min.js"></script>
	<script src="/assets/charts/js/morris.min.js"></script>
	<script src="/javascripts/custom-morris.js"></script>

	<!-- Custom Script-->
	<script src="/javascripts/custom.js"></script>
</body>

</html>
